services:
  welding:
    build:
      context: .
      dockerfile: Dockerfile
    image: arfanxn/welding:latest
    container_name: welding
    restart: unless-stopped
    volumes:
      # Mount local .env.docker file as read-only into container
      - ./.env.docker:/app/.env:ro
      # Mount logs directory for persistent logging
      - ./logs:/app/logs
    working_dir: /app
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_healthy
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/api/v1/health || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5

  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      welding:
        condition: service_healthy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/volumes/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - frontend
      - backend
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    env_file: 
      - .env.docker
    environment:
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
      TZ: Asia/Jakarta
    volumes:
      - ./docker/volumes/postgres/data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-root} -d ${POSTGRES_DB:-welding} || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5

  mongo:
    image: mongo:8.0
    container_name: mongo
    restart: unless-stopped
    env_file: 
      - .env.docker
    volumes:
      - ./docker/volumes/mongo/data:/data/db
      - ./docker/volumes/mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
    ports:
      - "27017:27017"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mongosh", "--username", "${MONGO_INITDB_ROOT_USERNAME:-root}", "--password", "${MONGO_INITDB_ROOT_PASSWORD:-root}", "--authenticationDatabase", "admin", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

networks:
  frontend:
  backend:
